
form{
    background-image: url(img/signup.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'New Tegomin', sans-serif;
    font-weight: bolder;
    padding: 20px;
}
form div{
    margin-bottom: 8px;
    margin-top: 8px;
}
input[type=text], input[type=password],input[type=number] {
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=text]:focus {
    background-image: linear-gradient(to right bottom, #dff3f6, #e8f5fb, #f2f8fe, #fafbfe, #ffffff);
}
form span{
    font-size: 0.8em;
    color: rgb(211, 73, 63) ;
}
.error input[type=text], .error input[type=password], .error input[type=number] {
    background-color: #ffdddd;
    border: 5px solid  rgb(211, 73, 63);
      
}
.hidden {
    display: none;
}
.submit, .button{
    width: max-content;
    background-color: whitesmoke;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    font-family: 'New Tegomin', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid black;
}

.submit:hover,.button{
    background-color:  rgb(211, 73, 63);
    color: white;
}
.div_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
